/* header,
#banner_part,
#about,
#counter_part,
#gallery,
#work_process,
#what_i_do,
footer {
    display: none;
} */

@media screen and (max-width: 575.9px) {
    .section_heading p {
        width: 95%;
    }

    .about_content .progress_body {
        margin-bottom: 80px;
    }

    .counter_part {
        text-align: center;
    }

    .counter_body {
        display: inline-flex;
        margin-bottom: 50px;
    }

    .gallery_item {
        margin-bottom: 30px;
    }

    .video_body iframe {
        height: 215px;
    }

    .footer_item{
        text-align: center;
        margin: 30px 0px;
    }
}

/* nav bar responsive */
@media screen and (max-width: 767.9px) {
    #header header nav .nav_links {
        position: relative;
    }

    #header header nav .nav_links ul {
        display: block;
        /* border: 1px solid red; */
        background: #e5e5e5a3;
        padding: 15px;
        position: fixed;
        right: -60%;
        top: 0;
        width: 60%;
        height: 100vh;
        backdrop-filter: blur(2px);
        transition-duration: .6s;
    }

    #header header nav .nav_links ul.active {
        right: 0;
    }

    #header header nav .nav_links ul li {
        margin-bottom: 10px;
    }

    #header .banner_part {
        backdrop-filter: unset;
    }
}

@media (min-width: 576px) and (max-width: 767.9px) {
    .section_heading p {
        width: 95%;
    }

    .about_content .progress_body {
        margin-bottom: 80px;
    }

    .counter_part {
        text-align: center;
    }

    .counter_body {
        display: inline-flex;
        margin-bottom: 50px;
    }

    .gallery_item {
        margin-bottom: 30px;
    }

    .video_body iframe {
        height: 215px;
    }

    .footer_item{
        text-align: center;
        margin: 30px 0px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {}

@media (min-width: 992px) and (max-width: 1199.9px) {}

@media (min-width: 1200px) and (max-width: 1399.9px) {}

@media (min-width: 1400px) {}